.myCity{
  position: absolute;
  top: -260px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  margin: 20px;
  width: 18rem;
}

.card-title {
  margin-bottom: 15px;
}
.containerInfoCard{
  position: relative;
  margin: 10px;
}
#closeIcon {
  position: absolute;
  top: 2px;
  right: 17.5px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
