.title{
    background-color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10px;
    position: relative;
}
.title button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}