.title{
    background-color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10px;
    position: relative;
}
.title h3{
    margin-left: 80px;
}
.title button{
    position: absolute;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.graficoCom{
    width: 70%;
}
.graficoCel {
    width: 98%;
}
.graficoContainer{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100000;
}
.grafico svg{
    border-radius: 15px;
    opacity: 0.87;
    color: white;
    width: 100%;
}
g text {
    fill: orange;
}
.containerCarousel{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.btnCarousel{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100000;
}
.btnI{
    top: 20px;
    color: white;
    position: absolute;
    left: 20px;
    background-color: rgba(128, 128, 128, 0.2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    z-index: 100000;
}
.btnI:disabled{
    top: 20px;
    color: black;
    position: absolute;
    left: 20px;
    background-color: rgba(128, 128, 128, 0.2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
}

.btnD{
    top: 290px;
    color: white;
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-color: rgba(128, 128, 128, 0.2);
    cursor: pointer;
    z-index: 10000100;
}

.btnD:disabled{
    bottom: 20px;
    color: black;
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-color: rgba(128, 128, 128, 0.2);
}
.btnD:hover{
    background-color: white;
    color: black;
}
.btnI:hover{
    background-color: white;
    color: black;
}

.loading{
    position: relative;
    z-index: 3000;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: .5;
}
.loading div{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
