.textInfo{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.day{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 291.97px;
    border-radius: 4px;
    z-index: -1;
    opacity: .6;
}
.moreInfo{
    background: #F37335;
    border-radius: 15px;
    padding: 4px 0 4px 0;
}
.moreInfo a{
    font-size: 16px;
    color: white;
}